h2 {
    font-size: large;
    font-weight: bolder;
    /* text-align: center; */
}

p {

        font-size: 15px;  
        width: 250px;
        text-align: center;
        
}
img{
    width:250px;
    height: 300px;
}

template{
    float: left;
    margin: 10px;
    margin-top: 60px;
    width: 275px;
    height: 300px;
}