


p{
    display: inline-block;
    overflow:  hidden;
    text-align: center;   
}

main {
    margin: 10px;
    width: 100%;
    height: 350px;
}
div{
    margin: 10px;
    width: 20%;
    height: 300px;
    padding: 10px;
    display: inline-block;
    overflow:  hidden;
    text-align: center;
    border: 3px solid black;
    background-color:rgb(38, 128, 134);
    border-radius: 10px;
}

