/* img {
    float: left;
    width: 100px;
    height: 150px;
    border: 2px solid 
} */

div{
    display:flex;

}

img{
    float: left;
    border-radius: 10%;
    border: solid 5px rgb(2, 2, 2);
 
}
h2{
    
        clear: both;
        padding-left: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
    
}
p {
    float: center;
    clear: both;
    padding-left:0px;
    padding-top: 20px;
}
footer {
    margin-top: 100px;
    clear: both;
    text-align: center;
}