
/* header{
    background-color: black;
    color: aliceblue;
    padding: 50px;
    font-size: 40px;
    }
    
    
    
    select {
        border: 1px solid black;
        height: 30px;
        width: 250px; 
        text-align: center;
        border-radius: 5px;
        display: block;
        margin: 0 auto;
        margin-top: 15px;
      } */

      #photo-tempate{
        display: inline-block;
    }
    
    img{
     width:200px;
     height: 200px;
     
    }
    h2{
    font-size: medium;
    font-weight: bolder;    
    }
    
    footer {
        margin-top: 100px;
        clear: both;
        text-align: center;
    }
    